@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>GamerPals</h1>
        <p>
            Welcome to GamerPals, this service helps you find a friend to play that co-op or multiplayer game with!
        </p>
    </div>
</div>